# Python bytecode files
*.pyc
__pycache__/

# Virtual environment directories
v/
venv/
env/
.venv/


# Log and debug files
*.log

# JSON result files
*.json
results/

# IDE-specific files (optional, based on your setup)
.idea/
.vscode/

# System-specific files
.DS_Store
Thumbs.db

# Coverage reports
.coverage
htmlcov/
